{% extends "base.html" %}
{% block content %}
    <p>Albums Page</p>

    {% for albums in albums %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ albums.image_url }}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Album Name : {{ albums.album_name }}<br>
            Artist : {{ albums.artist }}<br>
            Genre : {{ albums.genre }}<br>
            Release Year : {{ albums.release_year }}<br>
            Rating : {{ albums.rating }}<br>
            Review : {{ albums.album_review }}<br>
        {% endfor %}</p></p>
        </div>
      </div>


{% endblock %}
