{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
<h2 class="grey-text text-darken-4 center-align">Welcome to the album review club</h2>

<p>
    The Album Review Club is a place for music lovers to join an open minded and expressive group. You can register and view reviews from people wanting to share their favourite albums. You can also leave their own review and share their favourite albums.
</p>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Get Started</h3>
        <p>
            The home for music lovers.This is an exclusive site where you need to register before having full access. But when 
    you do you will be able to read reviews from people all over the world and find those hidden gems you have been looking for,
    or why not share a hidden gem of your own and share your own reviews with other user.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://images.pexels.com/photos/114820/pexels-photo-114820.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://images.pexels.com/photos/1228497/pexels-photo-1228497.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    </div>
    <div class="col-md-7">
        <h3>We want to hear from you</h3>
        <p>
            We want to hear your opinion on the latest and the classics. Register now and leave your review. And dont worry if your opinion changes with time you can simply edit your review and let other users know if the ambum stays true to your first opinion or if it got better or worse with time. 
        </p>
    </div>
</div>

{% endblock %}
